<%- include ("./partials/header") %>
    <div class="container nav-bar">
        <div class="row row-cols-1 border-bottom-orange">
            <div class="col-lg-2 col-md-2 order-md-1 order-1">
                <div class="header-humberger">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="header-brand">
                    <a href="/" class="nav-brand">FdmDrsn</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 order-md-2 order-2 my-collapse">
                <nav class="header-menu">
                    <ul>
                        <li>
                            <a href="/" class="nav-link">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="/tarifler" class="nav-link">Tarifler</a>
                        </li>
                        <li>
                            <a href="/kahvalti" class="nav-link">Kahvalti</a>
                        </li>
                        <li class="active">
                            <a href="/aksam-yemegi" class="nav-link">Aksam Yemegi</a>
                        </li>
                        <li>
                            <a href="/tatlilar" class="nav-link">Tatlilar</a>
                        </li>
                        <li>
                            <a href="/hakkimda" class="nav-link">Hakkimda</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2 col-md-2 order-md-3 order-3 my-collapse">
                <div class="header-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
    </header>

    <h1>Aksam Yemegi</h1>

    <br>

    <%- include ("./partials/footer") %>