<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geziteria</title>
    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta name="description" content="" />
    <meta name="keywords" content="Yemek Blogu,Food Blog,Gezi,Travel,Dünya Mutfağı,Kahvaltı,Breakfast,Akşam Yemeği,Dinner,Tatlılar,Desserts" />
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 order-sm-1 order-1">
                        <!-- <div class="header-btn">
                            <a href="./signin" class="primary-btn">Abone ol</a>
                        </div> -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-4 col order-sm-1 order-2">

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 order-sm-1 order-1">
                        <div class="header-social">
                            <a href="https://www.instagram.com/geziteria/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/Geziteria-101189792703029" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!--
                            <a href="https://twitter.com/fadimeberlin" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCpo5YbbcbJcN-MtmqQBQltg" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="far fa-envelope"></i>
                            </a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container logo">
            <a href="/">
                <div class="header-logo">
                    <img src="./img/logo.png" alt="Geziteria Logo" />
                </div>
            </a>
            <div class="header-slogan">
                <div class="header-slogan-text">
                </div>
            </div>
        </div>