<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geziteria</title>
    <link rel="icon" type="image/png" href="./img/favicon.png" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap"
    /></noscript>
    <link
      rel="preload"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
    /></noscript>
    <link
      rel="preload"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
    /></noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
    /></noscript>
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta
      name="description"
      content="Dünya Mutfağından denenmiş, lezzetli ve pratik tarifler bulabileceğiniz yemek blogu."
    />
    <meta
      name="keywords"
      content="Yemek Blogu,Food Blog,Gezi,Travel,Dünya Mutfağı,Kahvaltı,Breakfast,Akşam Yemeği,Pratik Akşam Yemeği,Dinner,Tatlılar,Desserts,çikolatalı tatlılar"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8858359855458958"
      crossorigin="anonymous"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SB93T24YNQ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SB93T24YNQ");
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 order-sm-1 order-1">
              <!-- <div class="header-btn">
                            <a href="./signin" class="primary-btn">Abone ol</a>
                        </div> -->
            </div>
            <div
              class="col-lg-6 col-md-6 col-sm-4 col order-sm-1 order-2"
            ></div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 order-sm-1 order-1">
              <div class="header-social">
                <a href="https://www.instagram.com/geziteria/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
                <a
                  href="https://www.facebook.com/Geziteria-101189792703029"
                  target="_blank"
                >
                  <i class="fab fa-facebook-f"></i>
                </a>
                <!--
                            <a href="https://twitter.com/fadimeberlin" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCpo5YbbcbJcN-MtmqQBQltg" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="far fa-envelope"></i>
                            </a>
                            -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container logo">
        <a href="/">
          <div class="header-logo">
            <img src="./img/logo.png" alt="Geziteria Logo" />
          </div>
        </a>
        <div class="header-slogan">
          <div class="header-slogan-text"></div>
        </div>
      </div>
    </header>
  </body>
</html>
